.box1{
    width : 100%;
    
    background-image : url(../assets/HomeImage.png);
}
.box2{
    font-weight: bold;
    

}
.boxButton{
    margin-top : 130px;
    margin-bottom : 200px;
}

#ButtonChild {
    background-image : url(../assets/ButtonChild.png);
}

.box3{
    height : 130px;
    width : 100%;
}