.wrapper2{
    margin : 0 auto;
    /* border : 5px solid black; */
    /* background-color:red; */
    text-align : center;
    align-content: center;
    width : 100vw;
}

.box1{
    /* border : 10px solid green; */
    width : 100vw;
    /* width : 1920px; */
    height : 1090px;
    
    background-image : url(../assets/HomeImage.png);
}
.box2{
    font-weight: bold;
    text-align : center;
    align-items: center;
    align-content: center;
}
.boxButton{
    margin-top : 130px;
    margin-bottom : 200px;
}

.homeButtonChild {
    object-fit :cover;
    width : 175px;
    height : 173px;
    /* background-image : url(../assets/ButtonChild.png); */
    background-color : rgba(255,255,25,0);
}

.box3{
    height : 130px;
    width : 100%;
}

.guideWrapper{
    background-color:#FB8922;
    padding-bottom : 300px;
    padding-top : 300px;
}

.homeTextDecoration{
    font-size : 33px;
    font-weight : 520;
    text-shadow : 0px 3px 6px black;
}

#guideShow1{
    background-image: url('../assets/homeGoyongButton.png');
    background-color : rgba(255,255,255,0);
    width : 251px;
}
#guideShow2{
    background-image: url('../assets/homeCareButton.png');
    background-color : rgba(255,255,255,0);
    width : 251px;
}