.wrapper2{
    margin : 0 auto;
    border : 5px solid black;
    /* background-color:red; */
    text-align : center;
    align-content: center;
    width : 100vw;
}

.box1{
    /* border : 10px solid green; */
    /* width : 100vw; */
    /* width : 100%; */
    object-fit:fill;
    background-image : url(../assets/HomeImage.png);
}
.box2{
    font-weight: bold;
    text-align : center;
    align-items: center;
    align-content: center;
}
.boxButton{
    margin-top : 130px;
    margin-bottom : 200px;
}

#ButtonChild {
    background-image : url(../assets/ButtonChild.png);
}

.box3{
    height : 130px;
    width : 100%;
}

.guideWrapper{
    background-color:#FB8922;
}